{% extends 'base.html' %}

{% block title %}
Contact - {{block.super}}
{% endblock %}

{% block about %}

<li><a class="nav-link scrollto" href="/about">About</a></li>
{% endblock %}

{% block contact %}
<li><a class="nav-link scrollto active" href="/contact">Contact</a></li>
{% endblock %}

{% block content %}
<!-- End Contact Section -->

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Contact Us</h2>
            <p>If you have any questions or inquiries, feel free to reach out. We'd love to hear from you!</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p><a href="mailto:thalesmedia@gmail.com">thalesmedia@gmail.com</a></p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p><a href="tel:+2348102814215">+234 810 281 4215</a></p>
                </div>
            </div>
        </div>

        <div class="social-links mt-4">
            <h3>Follow us on:</h3>
            <div class="row">
                <div class="col-lg-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter fs-3"></i></a>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="facebook"><i class="bi bi-facebook fs-3"></i></a>
                </div>
                <div class="col-lg-4">
                    <a href="#" class="instagram"><i class="bi bi-instagram fs-3"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
