{% extends "base.html" %}
{% block contact %}
<li><a class="nav-link scrollto active" href="#contact">Contact</a></li>
<li><a class="getstarted scrollto" href="#promote-post">Showcase your Work</a></li>
{% endblock %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">

        <h1> THALES MEDIA INC</h1>
        <h2>The world is a stage, the stage is a world of entertainment.</h2>
        <h2>Entertainment at its peak</h2>

      </div>
    </div>
    <div class="text-center">
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
    <div class="row icon-boxes">
      <!-- Discover Thales Media -->
      <div class="col-md-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="ri-stack-line"></i></div>
          <h4 class="title"><a href="#replace-with-link">Discover Thales Media</a></h4>
          <p class="description">Embark on a journey where the world is a stage, and Thales Media sets the scene for
            unparalleled entertainment experiences.</p>
        </div>
      </div>
      <!-- Explore Education Hub -->
      <div class="col-md-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="ri-book-line"></i></div>
          <h4 class="title"><a href="#educational-link">Explore Education Hub</a></h4>
          <p class="description">Dive into our educational posts that enlighten, inform, and spark curiosity. Uncover a
            world of knowledge with Thales Media's insightful content.</p>
        </div>
      </div>
      <!-- Entertainment Gists -->
      <div class="col-md-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="ri-movie-line"></i></div>
          <h4 class="title"><a href="#entertainment-link">Entertainment Gists</a></h4>
          <p class="description">Stay updated with the latest in the entertainment world. From celebrity news to film
            reviews, Thales Media brings you the hottest gists from the industry.</p>
        </div>
      </div>
      <!-- Discover the Unexpected -->
      <div class="col-md-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="ri-lightbulb-line"></i></div>
          <h4 class="title"><a href="#interesting-link">Discover the Unexpected</a></h4>
          <p class="description">Explore fascinating and unexpected content that broadens your horizons. Thales Media is
            your portal to interesting discoveries that captivate and inspire.</p>
        </div>
      </div>
    </div>
  </div>
</section>





<!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        <h3>Welcome to ThalesMedia,We're glad and grateful you're here. </h3>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            Entertainment is there to improve people's quality of life. After your basic needs, there's entertainment.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> The sound and music are 50% of the entertainment in a movie.</li>
            <li><i class="ri-check-double-line"></i> We aren't in an information age, we are in an entertainment age.
            </li>
            <li><i class="ri-check-double-line"></i> You can spread awareness through entertainment.</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Anyone who tries to make a distinction between education and entertainment doesn't know the first thing
            about either.
            That's why I integrated an educational blog site to keep my fans abreast of educational developments.
          </p>
          <a href="/about" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


  <section id="promote-post">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Create and Showcase Your Work</h2>
        <p>Are you a technical writer, content creator, or storyteller? Thales Media invites you to share your
          creativity with the world. Whether it's informative articles, captivating stories, or engaging content, your
          posts can reach a broad audience here. Join us in building a vibrant community where your voice is heard and
          appreciated.</p>

        <!-- Display a link to the post creation page -->
        <a href="specialuser_reg" class="btn btn-primary btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section>


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact Us</h2>
        <p>If you have any questions, suggestions or inquiries, feel free to reach out to us. We'd love to hear from
          you!</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Lagos,Nigeria</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p><a href="mailto:thalesmedia@gmail.com">thalesmedia@gmail.com</a></p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p><a href="tel:+2348102814215">+234 810 281 4215</a></p>
            </div>

          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form action="" method="post" role="form" class="">

            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->


  {% endblock %}